<!DOCTYPE html>
<html>
<head>
  <title>Shai's Surveys</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/static/SurveyComponents.js"></script>
  <!--link rel="icon" type="image/png" href="http://example.com/myicon.png"-->
</head>
<body>
  <h3 id="ErrorMessage" style="display: none"></h3>
  <div id="SurveyDiv" v-bind:title="title">
    <h3 v-if="title">{{ title }}</h3>
    <survey-question v-for="question, index in questions"
                     v-bind:title="question.title"
                     v-bind:idx="index"
                     v-bind:def="question.default || ''"
                     v-bind:key="index"
                     v-bind:type="question.type || 'text'"
                     v-bind:options="question.options"
                     v-bind:required="question.required"
                     v-on:input="save"></survey-question>
    <button v-on:click="submitForm();">Submit</button>
  </div>

  <script>
    /*var vueData = {title: "Test Survey",
                   questions: [
                                  {title: "Age",
                                   type: "number",
                                   required: "yes"
                                  },
                                  {title: "Name",
                                   type: "text"
                                  },
                                  {title: "Email",
                                   type: "email"
                                  },
                                  {title: "Language",
                                   type: "enum",
                                   options: ["English", "עברית"]
                                  }
                               ],
                    answers: []};
    
    var vm = new Vue({
        el: '#SurveyDiv',
        data: vueData,
        methods: {submitForm: submitForm, save: saveAnswer}
    });*/
    
    loadSurveyData();
    
    function saveAnswer(answer, index)
    {
        this.answers[index] = answer;
    }

    function submitForm()
    {
        //alert("Submitting");
    }
    
    function loadSurveyData()
    {
        let urlParams = new URLSearchParams(window.location.search);
        let surveyLink = urlParams.get('SurveyLink');
        if (!surveyLink) return;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var surveyData = JSON.parse(this.responseText);
                if (surveyData.hasOwnProperty("error"))
                {
                    document.getElementById("SurveyDiv").style.display = "none";
                    document.getElementById("ErrorMessage").style.display = "block";
                    document.getElementById("ErrorMessage").innerText = "Error: " + surveyData.error;
                } else
                {
                    var vm = new Vue({
                        el: '#SurveyDiv',
                        data: surveyData,
                        methods: {submitForm: submitForm, save: saveAnswer}
                    });
                }
            }
          };
        xhttp.open("GET", "GetSurveyData?surveylink=" + surveyLink, true);
        xhttp.send();
    }
    
  </script>
</body>
</html>